torch
torchvision
pandas
scikit-learn
Pillow
matplotlib
numpy
ipykernel
Cython
h5py
six
scipy
opencv-python
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio
chardet
standard-imghdr
tb-nightly
fastapi
pydantic
uvicorn
python-multipart
jinja2